[core]
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[user]
  email = x
  name = x
[alias]
  s = status
  p = pull
  co = checkout
  b = branch
  c = commit
  gl = log --oneline --decorate --graph --all
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd - %cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  h2 = log --pretty=format:\"%h %ad | %s%d | [%an]\" --graph --date=short
[push]
  default = simple
